<nav class="b-nav fixed-top">
    <section class="nav__center-wrap">
        <!-- <a routerLinkActive="active" routerLink="/templateForms" class="b-nav-tab custom-control-label-disable-select">Forms</a>
        <a routerLinkActive="active" routerLink="/simpleForm" class="b-nav-tab custom-control-label-disable-select">Simple Template Driven Form</a>
        <a routerLinkActive="active" routerLink="/reactiveForms" class="b-nav-tab custom-control-label-disable-select">Reactive Forms</a>
        <a routerLinkActive="active" routerLink="/product" class="b-nav-tab custom-control-label-disable-select">Product</a> -->

        <a routerLinkActive="active" routerLink="/home" class="b-nav-tab custom-control-label-disable-select">Home</a>
        <a routerLinkActive="active" routerLink="/about" class="b-nav-tab custom-control-label-disable-select">About</a>
    </section>
</nav>