<div class="autoCompleteForm">
    <form [formGroup]="stateForm" class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Highest Degree</mat-label>
            <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
                [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <mat-label>State</mat-label>
            <input type="text" matInput formControlName="stateGroup" required [matAutocomplete]="autoGroup">
            <mat-autocomplete #autoGroup="matAutocomplete">
                <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
                    <mat-option *ngFor="let name of group.names" [value]="name">
                        {{name}}
                    </mat-option>
                </mat-optgroup>
            </mat-autocomplete>
        </mat-form-field>

    </form>
</div>