
.stepperForm {
    padding-top: 120px;
    width: 900px;
    margin: 0 auto;
    text-align: center;
}
.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  