.userForm {
    padding-top: 120px;
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

.labelName {
    margin-right: 15px;
}

.userFormTable {
    margin: 0 auto;
    width: 300px;
}


/* input.ng-valid {
    border-left: 5px solid green;
}

input.ng-invalid {
    border-left: 5px solid red;
} */